.welcome{
    text-align: center;
    font-size: 3rem;

}
.container{
    height: 80%;
    width: 60%;
    background-color:#C0C0C0;
    margin: 0 auto;
    border-radius: 2.5rem;
}
.todo{
    display: flex;
    justify-content: center;
}
.insert{
    width: 24%;
    height: 30%;
    background-color: #4A90E2;
    border-radius: 2.3rem;
    color: black;
}
.add{
    width: 10%;
    background-color:#4A90E2;
    border-radius: 2.3rem;
}
.list{
    margin-left: 13rem;
    margin-top: 3rem;
    background-color:#6C8EBF;
    width: 40%;
    border-radius: 1.5rem;
    font-size: 1.5rem;
}